{% extends "base.html" %}
{% load static %}
{% block title %}Skydelis · todo.{% endblock %}
{% block nav_dashboard %}active{% endblock %}
{% block sb_all %}active{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<!-- ── Page header ── -->
<div class="page-header">
  <div>
    <p class="text-muted mb-1" style="font-size:.85rem">
      <i class="bi bi-calendar3 me-1"></i>
      {% now "Y F jS H:i" %}
    </p>
    <h1>Labas, {{ user.first_name|default:user.username }} 👋</h1>
  </div>
  {% if todolist is not defined %}
  <a href="{% url 'todolist_create' %}" class="btn btn-accent px-4">
    <i class="bi bi-plus-lg me-1"></i>Naujas sąrašas
  </a>
    {% endif %}
</div>

<!-- ── Todolsit sąrašai ── -->

<div class="lists-grid mb-4">

  {% for todolist in todolists %}

  <div class="list-card">
  <a href="{% url 'todolist' todolist.id %}"
     class="text-decoration-none"
     style="--list-color: {{ lst.color|default:'#00e5a0' }}">
    <div class="list-card-content">
      <div class="list-name" style="{% if todolist.is_completed %}color:var(--text-muted){%endif%}">{{ todolist.title }}</div>
      <div class="list-meta">
        <span class="list-count">Viso užduočių: {{ todolist.items.count }} </span>
        {% if lst.done_count %}
          <span class="list-done-count">
            <i class="bi bi-check2 me-1"></i>{{ lst.done_count }} atlikta
          </span>
        {% endif %}
      </div>
      {% if lst.todo_count %}
        <div class="list-progress">
          <div class="list-progress-fill" style="width:{{ lst.completion_pct }}%"></div>
        </div>
      {% endif %}
      <hr>
      <div class="list-desc">{{ todolist.description }}</div>
      {% if todolist.deadline %}
      <p class="{% if todolist.is_overpassed %}alert-danger{% endif %}"> Atlikti iki {{ todolist.deadline|date:"Y-m-d" }}
      {% endif %}
      {% if todolist.is_completed %}
      <div class="todolist-check">  <i class="bi bi-check-circle"></i>
       </div>
      {% endif %}
    </div>
  </a>
    </div>
  {% endfor %}

  <a href="{% url 'todolist_create' %}" class="list-card-new text-decoration-none">
    <i class="bi bi-plus-lg"></i>
    <span>Naujas sąrašas</span>
  </a>
</div>



{% else %}
  <li class="nav-item"><a class="nav-link" href="{% url 'login'%}">Prisijungti</a></li>
{% endif %}

{% endblock %}
