{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md">

            <div class="row justify-content-start">
            <div class="col" style="width:160px;" >
                <p>{% if user.avatar %}
                <img src="{{ user.avatar.url }}" width="150" class="rounded-circle">
              {% endif %}
          </p>
            </div>
            <div class="col-10">
                <p><strong>{% trans 'Username:' %} </strong>{{ user.username }}</p>
            <p><strong>{% trans 'First name:' %} </strong>{{ user.first_name }}</p>
            <p><strong>{% trans 'Last name:' %} </strong>{{ user.last_name }}</p>
            <p><strong>{% trans 'Email:' %} </strong>{{ user.email }}</p>

            </div>
                </div>


            <h2 class="mb-4 text-center">{% trans 'Profile' %}</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% load crispy_forms_tags %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-primary w-100">Update</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}