{% extends "base.html" %}
{% block title %}{% if todo %}{{ todo.title }}{% else %}Nauja užduotis{% endif %} · todo.{% endblock %}

{% load static %}


{% block content %}
<div class="content-section">
    <form method="POST">
    {% csrf_token %}
    {% load crispy_forms_tags %}
    <legend class="border-bottom mb-4">Knygos Egzemplioriaus kūrimas/redagavimas</legend>
        {{ form | crispy }}
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Išsaugoti</button>
        </div>
    </form>
</div>
{% endblock%}