{% extends "base.html" %}
{% block title %}{% if todo %}{{ todo.title }}{% else %}Nauja užduotis{% endif %} · todo.{% endblock %}

{% load static %}


{% block content %}
<div class="content-section">
    <form method="POST">
    {% csrf_token %}
    {% load crispy_forms_tags %}
    <legend class="border-bottom mb-4">Sąrašo kūrimas/redagavimas</legend>
        {{ form | crispy }}
        <div class="form-group">
            <button type="button" class="btn btn-ghost px-4"
            onclick="window.location.href='{% url 'index' %}'">Atšaukti</button>
          <button type="submit" class="btn btn-accent px-4">
            <i class="bi bi-floppy me-1"></i>Išsaugoti
          </button>
        </div>
        </div>
    </form>
</div>


{% endblock%}